@*
    View component view for displaying a table of ad groups in our campaign details popup.
*@

@model AdGroupTableLinkedViewModel
<!-- Entry for each item in the list -->
@foreach (var adGroup in Model.AdGroups)
{
    <tr>
        <td>@adGroup.Name</td>
        <td>@adGroup.CreateDate</td>
        <td>@adGroup.AdItemCount</td>
        <td>@adGroup.UpdateDate</td>
        <td>
            <form asp-controller="CampaignDetails" asp-action="@nameof(CampaignDetailsController.UnlinkAdGroup)" method="post" class="formUnlinkAdGroup">
                <!-- Post form submission through jquery ajax post request -->
                <button type="submit" class="buttonLinkingAction btn btn-primary">Unlink</button>

                <!-- Hidden input fields to insert data into form model -->
                <input type="hidden" name="@nameof(LinkingOperationViewModel.AdGroupId)" value="@adGroup.Id" />
                <input type="hidden" name="@nameof(LinkingOperationViewModel.CampaignId)" value="@Model.CampaignId" />
            </form>
        </td>
    </tr>
}