@*
    Campaign group creation wizard section for targeting settings.
*@

@model CampaignGroupFormAllViewModel
<!-- Fieldset for our targeting properties -->
<fieldset id="fieldsetTargeting">

    <!-- Countries -->
    <form-group>
        <label>Targeted countries: </label>
        @foreach (var location in new TargetingViewModelService().GetLocationOptions())
        {
            <div class="form-row">
                <input class="checkboxLocation" name="@nameof(CampaignGroupFormAllViewModel.Locations)" value="@location" type="checkbox" />
                <label>@LocationTranslator.TranslateLocation(location)</label>
            </div>
        }
        <div class="errorHolder"></div>
    </form-group>

    <!-- Devices -->
    <form-group>
        <label>Targeted devices: </label>
        @foreach (var device in new TargetingViewModelService().GetDeviceOptions())
        {
            <div class="form-row">
                <input class="checkboxDevice" name="@nameof(CampaignGroupFormAllViewModel.Devices)" value="@device" type="checkbox" />
                <label>@LocationTranslator.TranslateDevice(device)</label>
            </div>
        }
        <div class="errorHolder"></div>
    </form-group>

    <!-- Operating systems -->
    <form-group>
        <label>Targeted operating systems: </label>
        @foreach (var os in new TargetingViewModelService().GetOperatingSystemOptions())
        {
            <div class="form-row">
                <input class="checkboxOperatingSystem" name="@nameof(CampaignGroupFormAllViewModel.OperatingSystems)" value="@os" type="checkbox" />
                <label>@LocationTranslator.TranslateOperatingSystem(os)</label>
            </div>
        }
        <div class="errorHolder"></div>
    </form-group>

    <!-- Submit and back button -->
    <div class="form-row">
        <button class="buttonBack btn text-white btn-main btn-blue mt-5" data-thisindex="3">Back</button>
        <button id="buttonNextTargeting" class="btn text-white btn-main btn-blue mt-5">Next</button>
    </div>

</fieldset>