@*
    Home page. This is where the dashboard will be shown.
*@

@using Maximiz.Services
@model HomeStatisticsViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<main>
    <div class="container-fluid dashboard-content">
        <div class="section-overview">
            <h1><span class="circle circle_blue"></span>Overview</h1>
            <div class="row overview">
                <div class="col col-spend-today">
                    <h2 class="font-weight-normal text-white">@Model.CurrencySymbol @Model.SpendToday</h2>
                    <p class="font-weight-light text-white text-uppercase mb-0 mt-3"><span class="pre-text">Spend</span> Today</p>
                </div>
                <div class="col col-spend-yesterday">
                    <h2 class="font-weight-normal text-white">@Model.CurrencySymbol @Model.SpendYesterday</h2>
                    <p class="font-weight-light text-white text-uppercase mb-0 mt-3"><span class="pre-text">Spend</span> Yesterday</p>
                </div>
                <div class="col col-spend-this_month">
                    <h2 class="font-weight-normal text-white">@Model.CurrencySymbol @Model.SpendThisMonth</h2>
                    <p class="font-weight-light text-white text-uppercase mb-0 mt-3"><span class="pre-text">Spend</span> This Month</p>
                </div>
                <div class="col col-spend-last_month">
                    <h2 class="font-weight-normal text-white">@Model.CurrencySymbol @Model.SpendLastMonth</h2>
                    <p class="font-weight-light text-white text-uppercase mb-0 mt-3"><span class="pre-text">Spend</span> Last Month</p>
                </div>
            </div>
        </div>
        <div class="section-spend_by_account">
            <h1><span class="circle circle_blue"></span>Spend by Account</h1>
            <div class="row spend_by_account">
                <div class="col col-account">
                    <div class="pie"><p class="text-white font-weight-bold m-0">100%</p></div>
                    <div class="pie-listitems">
                        <p>
                            <span class="circle circle_blue mb-0"></span>
                            <img src="~/images/taboola_logo.png" class="img-sm" alt="taboola_logo"> Taboola <span class="light-text ml-1">
                                @Model.CurrencySymbol @Model.SpendTotalTaboola
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-spend_by_network">
            <h1><span class="circle circle_blue"></span>Spend by Network</h1>
            <div class="row spend_by_network">
                <div class="col col-network">
                    <div class="pie">
                    </div>
                    <div class="pie-listitems">
                        <ul>
                            <li>
                                <p><span class="circle circle_blue mb-0"></span> WeBuy media - Japan - SC</p>
                            </li>
                            <li>
                                <p><span class="circle circle_orange mb-0"></span> WeBuy Media - Family Chasers - SC</p>
                            </li>
                            <li>
                                <p><span class="circle circle_yellow mb-0"></span> WeBuy Media - For Happy Hours</p>
                            </li>
                            <li>
                                <p><span class="circle circle_red mb-0"></span> WeBuy Media - Tip Chasers - SC</p>
                            </li>
                            <li>
                                <p><span class="circle circle_green mb-0"></span> WeBuy Media - Daily Chasers - SC</p>
                            </li>
                            <li>
                                <p><span class="circle circle_purple mb-0"></span> WeBuy Media - Schience Chasers</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>