@*
    Contains our sidebar functionality for ad group creation.
    TODO This might contain too much logic to double-function as AdGroup editing wizard
*@

@model AdGroupWizardViewModel

<!-- Sidebar with form settings for our new ad group -->
<section class="adsfield">
    <form id="formWizardAdGroup" asp-controller="AdGroupWizard" asp-action="@nameof(AdGroupWizardController.SubmitForm)" method="post" class="pt-2">

        <!-- Hidden fields for if we are using this page for modifications -->
        @if (Model != null && Model.AdGroup != null)
        {
            <input type="hidden" name="@nameof(AdGroupFormViewModel.Id)" value="@Model.AdGroup.Id" />
        }

        <!-- Name -->
        <form-group class="form-group containsErrorHolder">
            <label for="inputAdGroupName">Ad group name</label><br />
            <input id="inputAdgroupName" type="text" name="@nameof(AdGroupFormViewModel.Name)" class="form-control disableOnSubmitPending"
                   placeholder="My ad group name" value="@((Model != null && Model.AdGroup != null) ? @Model.AdGroup.Name : "")" />
            <div class="errorHolder"></div>
        </form-group>

        <!-- Titles -->
        <div class="form-group containsErrorHolder">
            <label>Titles</label>
            <div id="divTitleList">
                @if (Model != null && Model.AdGroup != null && Model.AdGroup.Titles != null && Model.AdGroup.Titles.Length > 0)
                {
                    @for (int i = 0; i < Model.AdGroup.Titles.Length; i++)
                    {
                        <partial name="_TitleEntry" model="@new TitleEntryViewModel {
                            Title = Model.AdGroup.Titles[i],
                            IsRemovable = (i > 0)
                        }" />
                    }
                }
                else
                {
                    <partial name="_TitleEntry" />
                }
            </div>
            <a href="" id="addTitleEntry"> + Add Title </a>
            <div class="errorHolder"></div>
        </div>

        <!-- Images section -->
        <div class="form-group">
            <label for="uploadImage">Upload Images</label>
            <a id="openImages" href="" data-toggle="modal" data-target="#modalCenter">
                <div id="divSelectedImagesThumbnails" class="image-section">
                    <!-- Added dynamically -->
                </div>
            </a>
        </div>

        <!-- Hidden input for selected image urls -->
        <div id="hiddenImageUris" class="containsErrorHolder">
            @if (Model != null && Model.AdGroup != null && Model.AdGroup.ImageLinks != null && Model.AdGroup.ImageLinks.ToList().Count > 0)
            {
                @foreach (var imageUri in Model.AdGroup.ImageLinks)
                {
                    <input type='hidden' class='hiddenImageUri disableOnSubmitPending' name='@nameof(AdGroupFormViewModel.ImageLinks)' value="@imageUri" />
                }
            }
            else
            {
                <input type='hidden' class='hiddenImageUri disableOnSubmitPending' name='@nameof(AdGroupFormViewModel.ImageLinks)' />
            }
            <div class="errorHolder"></div>
        </div>

    </form>
</section>


@*<section class="adsfield">
    <form class="pt-2">

        <div class="form-group">
            <label for="inputAdGroup">Ad Group</label>
            <input type="text" class="form-control" id="inputAdGroup" placeholder="Ad Group">
        </div>
        <div class="form-group">
            <label for="inputDestinationURL">Destination URL</label>
            <input type="text" class="form-control" id="inputDestinationURL" placeholder="Destination URL">
        </div>
        <div class="form-group">
            <label for="inputTrackingCode">Tracking Code</label>
            <input type="text" class="form-control" id="inputTrackingCode" placeholder="Tracking Code">
        </div>
        <div class="form-group">
            <label for="inputTitle1">Titles</label>
            <input type="text" class="form-control" id="inputTitle1" placeholder="Title 1">
            <div class="form-row form-titles" id="b937555c-075a-4e96-81bc-4a45117d2cce">
                <input type="text" name="Titles" class="form-control titleEntry disableOnSubmitPending my-2" value="" placeholder="My advertisement title">
                <button class="btn btn-primary removeTitleEntry" data-target-id="b937555c-075a-4e96-81bc-4a45117d2cce" href=""><i class="fas fa-times"></i></button>
            </div>
            <input type="text" class="form-control mt-2" id="inputTitle2" placeholder="Title 2">
            <input type="text" class="form-control my-2" id="inputTitle3" placeholder="Title 3">
            <a href="#"> + Add Title </a>
        </div>
        <div class="form-group">
            <label for="uploadImage">Upload Images</label>
            <a href="" data-toggle="modal" data-target="#modalCenter">
                <div class="image-section">
                    <div class="uploaded-image section1"><img src="../../img/money-ad.jpg" alt="wd-40-spray"></div>
                    <div class="uploaded-image section2"><img src="../../img/wd-40.png" alt="wd-40-spray"></div>
                    <div class="uploaded-image section3"><img src="../../img/login-background.jpg" alt="wd-40-spray"></div>
                    <div class="uploaded-image section4"><img src="../../img/American-Express.png" alt="wd-40-spray"></div>
                </div>
            </a>
        </div>

    </form>
</section>*@