@*
    Table head for our ad group overview.
*@

@model AdGroupOverviewViewModel
<!-- Creates a head cell for each value in our table -->
<thead class="thead-darkblue">
    <tr>
        <th scope="col">
            Group name
            <div class="filter-highlight">
                <a class="clickSortAdGroup" data-column="@ColumnAdGroupLinking.Name" data-order="@Order.Ascending">
                    <span class="arrow arrow-up"><i class="fas fa-chevron-up"></i></span>
                </a>
                <a class="clickSortAdGroup" data-column="@ColumnAdGroupLinking.Name" data-order="@Order.Descending">
                    <span class="arrow arrow-down"><i class="fas fa-chevron-down"></i></span>
                </a>
            </div>
        </th>
        <th scope="col">
            Created
            <div class="filter-highlight">
                <a class="clickSortAdGroup" data-column="@ColumnAdGroupLinking.CreateDate" data-order="@Order.Ascending">
                    <span class="arrow arrow-up"><i class="fas fa-chevron-up"></i></span>
                </a>
                <a class="clickSortAdGroup" data-column="@ColumnAdGroupLinking.CreateDate" data-order="@Order.Descending">
                    <span class="arrow arrow-down"><i class="fas fa-chevron-down"></i></span>
                </a>
            </div>
        </th>
        <th scope="col">
            Ads
            <div class="filter-highlight">
                <a class="clickSortAdGroup" data-column="@ColumnAdGroupLinking.AdCount" data-order="@Order.Ascending">
                    <span class="arrow arrow-up"><i class="fas fa-chevron-up"></i></span>
                </a>
                <a class="clickSortAdGroup" data-column="@ColumnAdGroupLinking.AdCount" data-order="@Order.Descending">
                    <span class="arrow arrow-down"><i class="fas fa-chevron-down"></i></span>
                </a>
            </div>
        </th>
        <th scope="col">
            Modified
            <div class="filter-highlight">
                <a class="clickSortAdGroup" data-column="@ColumnAdGroupLinking.UpdateDate" data-order="@Order.Ascending">
                    <span class="arrow arrow-up"><i class="fas fa-chevron-up"></i></span>
                </a>
                <a class="clickSortAdGroup" data-column="@ColumnAdGroupLinking.UpdateDate" data-order="@Order.Descending">
                    <span class="arrow arrow-down"><i class="fas fa-chevron-down"></i></span>
                </a>
            </div>
        </th>
        <th scope="col">
            <!-- Edit column -->
        </th>
    </tr>
</thead>
