@*
    Displays an overview of all campaigns in our viewmodel.
*@

@using Maximiz.ViewModels
@using Maximiz.ViewModels.EntityModels
@model CampaignOverviewViewModel
@{
    ViewData["Title"] = "Campaigns";
}
<head>
  <link rel="stylesheet" href="~/css/modal-right.css"/>
</head>
<body>
  <main>
    <div class="campaign-overview">
      <div class="header">
        <nav class="navbar justify-content-between mb-4">
          <h1>All Campaigns</h1>
          <form class="form-inline">
            <input class="form-control search" id="cmpSearch" type="search" placeholder="Search" aria-label="Search">
          </form>
        </nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-target="#tabAll" data-toggle="tab">All (114)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-target="#tabActive" data-toggle="tab">Active (86)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-target="#tabInactive" data-toggle="tab">Inactive (14)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-target="#tabPending" data-toggle="tab">Pending (6)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-target="#tabHidden" data-toggle="tab">Hidden (3)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-target="#tabConcept" data-toggle="tab">Concept (2)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-target="#tabDeleted" data-toggle="tab">Deleted (3)</a>
          </li>
        </ul>
      </div>
      <div class="content tab-content">
        <div class="dropdown float-right">
          <button class="btn dropdown-toggle rounded-0 px-0 mr-5 mb-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Make...
          </button>
          <div class="dropdown-menu mt-0 pt-2" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Active</a>
            <a class="dropdown-item" href="#">Inactive</a>
            <a class="dropdown-item" href="#">Pending</a>
            <a class="dropdown-item" href="#">Hidden</a>
            <a class="dropdown-item" href="#">Concept</a>
          </div>
        </div>
        <div class="table-responsive tab-pane active" id="tabAll">
          <table class="table table-striped" id="tableCampaigns">
            <thead class="thead-darkblue">
              <tr>
                <th scope="col"><input type="checkbox" name="campaignCheck" id="select-all"></th>
                <th scope="col">Campaign</th>
                <th scope="col">CPC</th>
                <th scope="col">CTR</th>
                <th scope="col">Clicks</th>
                <th scope="col">Budget</th>
                <th scope="col">Spend</th>
                <th scope="col">Revenue</th>
                <th scope="col">ROI</th>
                <th scope="col">Taboola</th>
                <th scope="col">Adsense</th>
                <th scope="col">Profit</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              @foreach (CampaignModel campaign in Model.Campaigns)
              {
              <tr>
                <th scope="row"><input type="checkbox" name="campaigncheck" value="@campaign.Id"></th>
                <td class="data-campaign"><a href="" data-toggle="modal" data-target="#modalRight"><img class="mr-1" src="~/images/taboola_logo.png" alt="taboola_logo"> @Html.ActionLink(@campaign.Name, "Details", "Campaign", new { id = campaign.Id })</a></td>
                <td>@campaign.InitialCpc</td>
                <td>?</td>
                <td>?</td>
                <td><small> Daily</small> $100 <br>
                    <small> Monthly</small> $30,000
                </td>
                <td>@campaign.Spent</td>
                <td>?</td>
                <td>?</td>
                <td>?</td>
                <td>?</td>
                <td>?</td>
                <td>
                  <a href="#" data-toggle="modal" data-target="#modalRight"><i class="fas fa-edit"></i></a>
                  <a href="#" data-toggle="tooltip" title="Hide"><i class="fas fa-eye"></i></a>
                  <a href="#" data-toggle="tooltip" title="Delete"><i class="fas fa-trash text-danger ml-1"></i></a>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="tabActive">
          <p>Im in section Active</p>
        </div>
        <div class="tab-pane" id="tabInactive">
          <p>Im in section Inactive</p>
        </div>
        <div class="tab-pane" id="tabPending">
          <p>Im in section Pending</p>
        </div>
        <div class="tab-pane" id="tabHidden">
          <p>Im in section Hidden</p>
        </div>
        <div class="tab-pane" id="tabConcept">
          <p>Im in section Concept</p>
        </div>
        <div class="tab-pane" id="tabDeleted">
          <p>Im in section Deleted</p>
        </div>
      </div>
      <div class="container sidemodal">
        <div class="modal right fade modal-right" id="modalRight" tabindex="-1" role="dialog" aria-labelledby="modalRightLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <span class="nav-link active" data-target="#tabAccount" data-toggle="tab">Account </span>
                  </li>
                  <li class="nav-item">
                    <span class="nav-link" data-target="#tabMarketing" data-toggle="tab">Marketing </span>
                  </li>
                  <li class="nav-item">
                    <span class="nav-link" data-target="#tabPublishers" data-toggle="tab">Publishers </span>
                  </li>
                  <li class="nav-item">
                    <span class="nav-link" data-target="#tabAdGroups" data-toggle="tab">Ad Groups </span>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tabAccount">
                    <form action="" class="mt-3">
                      <fieldset id="formAccount">
                        <div class="campaign form-group">
                          <div class="form-subgroup mb-3">
                            <h1 class="mb-4">Account</h1>
                            <label for="campaign">Campaign</label>
                            <div class="ml-0">
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="campaigns" id="campaignTaboola" value="taboola" checked>
                                <label class="form-check-label font-weight-normal" for="campaignTaboola">Taboola</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="campaigns" id="campaignGoogle" value="google">
                                <label class="form-check-label font-weight-normal" for="campaignGoogle">Google</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="campaigns" id="campaignYahoo" value="yahoo">
                                <label class="form-check-label font-weight-normal" for="campaignYahoo">Yahoo</label>
                              </div>
                            </div>
                            <div class="form-group my-4">
                              <label for="campaignAccount">Account</label>
                              <select class="form-control" id="campaignAccount">
                                <option>Webuy Media - Daily Chasers - SC</option>
                                <option>Webuy Media - Family Chasers - SC</option>
                                <option>WeBuy Media - For Happy Home - SC</option>
                                <option>WeBuy Media -  Facts Chasers – SC</option>
                                <option>WeBuy Media - Tip Chasers - SC</option>
                                <option>Webuy Media - WBM - SC</option>
                                <option>Webuy Media - Japan - SC</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="info form-group">
                          <div>
                            <div class="form-subgroup">
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputCampaignName">Campaign Name</label>
                                  <input type="text" class="form-control" id="inputCampaignName" placeholder="WD-40">
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="inputBranding">Branding</label>
                                  <input type="text" class="form-control" id="inputBranding">
                                  <small id="brandingHelp" class="form-text text-muted">(optional) - <i>Apears below headline</i></small>
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputTrackingCode">Tracking Code</label>
                                  <input type="text" class="form-control" id="inputTrackingCode" placeholder="utm_source=taboola&utm_campaign={{CAMPAIGN}}">
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="inputURL">URL</label>
                                  <input type="text" class="form-control" id="inputURL">
                                  <small id="URLHelp" class="form-text text-muted">(optional)</i></small>
                                </div>
                              </div>
                              <button class="btn text-white btn-main btn-blue mt-5 float-right">Save</button>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                  <div class="tab-pane" id="tabMarketing">
                    <form action="" class="mt-3">
                      <fieldset id="formAccount">
                        <div class="campaign form-group">
                          <div class="form-subgroup mb-3">
                            <h1 class="mb-4">Marketing</h1>
                            <div class="form-group my-4">
                              <label for="campaignAccount">Objective</label>
                              <select class="form-control" id="campaignAccount">
                                <option>Webuy Media - Daily Chasers - SC</option>
                                <option>Webuy Media - Family Chasers - SC</option>
                                <option>WeBuy Media - For Happy Home - SC</option>
                                <option>WeBuy Media -  Facts Chasers – SC</option>
                                <option>WeBuy Media - Tip Chasers - SC</option>
                                <option>Webuy Media - WBM - SC</option>
                                <option>Webuy Media - Japan - SC</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="info form-group">
                          <div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputCampaignName">CPC</label>
                                <input type="text" class="form-control" id="inputCampaignName" placeholder="WD-40">
                              </div>
                            </div>
                          </div>
                        </div>
                        <label for="CTO">Creative Traffic Allocation</label>
                        <div class="ml-0">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="CTO" id="CTOOptimized" value="Optimized" checked>
                            <label class="form-check-label font-weight-normal" for="CTOOptimized">Optimized</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="CTO" id="CTOEven" value="Even">
                            <label class="form-check-label font-weight-normal" for="CTOEven">Even</label>
                          </div>
                        </div>
                        <div class="button-save">
                          <button class="btn text-white btn-main btn-blue mt-5 float-right">Save</button>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                  <div class="tab-pane" id="tabPublishers">
                    
                    <form action="" class="mt-3">
                      <fieldset id="formAccount">
                        <div class="info form-group">
                          <div>
                            <div class="form-subgroup">
                            <h1 class="mb-4">Publishers</h1>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputBlockPublishers">Block Publishers</label>
                                  <input type="text" class="form-control" id="inputBlockPublishers" placeholder="None">
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="inputTargetingList">Targeting Lists</label>
                                  <input type="text" class="form-control" id="inputTargetingList" placeholder="Choose">
                                </div>
                              </div>
                              <button class="btn text-white btn-main btn-blue mt-5 float-right">Save</button>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                  <div class="tab-pane" id="tabAdGroups">
                    <div>
                      <h1>Added Ad Groups</h1>
                      <div class="section-users">
                        <div class="table-responsive">
                          <table class="table table-striped table-hover table-bordered">
                            <thead class="thead-darkblue">
                              <tr>
                                <th scope="col">Group name</th>
                                <th scope="col">Created</th>
                                <th scope="col">Ads</th>
                                <th scope="col">Modified</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>DAI_ITA_kinderenpijl</td>
                                <td>08-09-2019 14:18</td>
                                <td>9</td>
                                <td>08-09-2019 14:18</td>
                                <td><a href="#" class="text-danger"> Remove from Ad Group</a></td>
                              </tr>
                              <tr>
                                <td>DAI_ESP_kinderenpijl</td>
                                <td>08-09-2019 13:37</td>
                                <td>4</td>
                                <td>08-09-2019 09:58</td>
                                <td><a href="#" class="text-danger"> Remove from Ad Group</a></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <h1 class="my-3">All Ad Groups</h1>
                        <div class="row users-heading px-3">
                          <div class="form-group">
                            <form class="form-inline">
                              <input class="form-control mr-sm-2" type="search" placeholder="Search Ad Groups" aria-label="Search">
                            </form>
                          </div>
                          <div class="ml-4 align-self-center">
                            <a href="#"><i class="fas fa-plus-circle"></i> Add Ad Group</a>
                          </div>
                          <div class="ml-4 align-self-center">
                            <p class="m-0"> <b>743</b> Ad Groups in total</p>
                          </div>
                        </div>
                        <div class="table-responsive total-ad-groups">
                          <table class="table table-striped table-hover table-bordered">
                            <thead class="thead-darkblue">
                              <tr>
                                <th scope="col">Group name</th>
                                <th scope="col">Created</th>
                                <th scope="col">Ads</th>
                                <th scope="col">Modified</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>DAI_ESP_vreemdgaanbruiloft2</td>
                                <td>08-09-2019 15:10</td>
                                <td>8</td>
                                <td>08-09-2019 15:10</td>
                                <td>
                                  <button class="btn btn-primary">Add</button>
                                </td>
                              </tr>
                              <tr>
                                <td>DAI_ITA_kinderenpijl</td>
                                <td>08-09-2019 15:10</td>
                                <td>18</td>
                                <td>08-09-2019 15:10</td>
                                <td>
                                  <button class="btn btn-primary">Add</button>
                                </td>
                              </tr>
                              <tr>
                                <td>FAM_ENG_D_UK_bruid</td>
                                <td>08-09-2019 15:10</td>
                                <td>4</td>
                                <td>08-09-2019 15:10</td>
                                <td>
                                  <button class="btn btn-primary">Add</button>
                                </td>
                              </tr>
                              <tr>
                                <td>DAI_POL_vreemdgaanbruiloft2</td>
                                <td>08-09-2019 15:10</td>
                                <td>6</td>
                                <td>08-09-2019 15:10</td>
                                <td>
                                  <button class="btn btn-primary">Add</button>
                                </td>
                              </tr>
                              <tr>
                                <td>DAI_ESP_kinderenpijl</td>
                                <td>08-09-2019 15:10</td>
                                <td>24</td>
                                <td>08-09-2019 15:10</td>
                                <td>
                                  <button class="btn btn-primary">Add</button>
                                </td>
                              </tr>
                              <tr>
                                <td>TIP-NL_WarmWater</td>
                                <td>08-09-2019 15:10</td>
                                <td>25</td>
                                <td>08-09-2019 15:10</td>
                                <td>
                                  <button class="btn btn-primary">Add</button>
                                </td>
                              </tr>
                              <tr>
                                <td>TIP-GR_KoelkastN</td>
                                <td>08-09-2019 15:10</td>
                                <td>6</td>
                                <td>08-09-2019 15:10</td>
                                <td>
                                  <button class="btn btn-primary">Add</button>
                                </td>
                              </tr>
                              <tr>
                                <td>DAI_ESP_vreemdgaanbruiloft2</td>
                                <td>08-09-2019 15:10</td>
                                <td>8</td>
                                <td>08-09-2019 15:10</td>
                                <td>
                                  <button class="btn btn-primary">Add</button>
                                </td>
                              </tr>
                              <tr>
                                <td>DAI_ESP_vreemdgaanbruiloft2</td>
                                <td>08-09-2019 15:10</td>
                                <td>12</td>
                                <td>08-09-2019 15:10</td>
                                <td>
                                  <button class="btn btn-primary">Add</button>
                                </td>
                              </tr>
                              <tr>
                                <td>DAI_ESP_vreemdgaanbruiloft2</td>
                                <td>08-09-2019 15:10</td>
                                <td>5</td>
                                <td>08-09-2019 15:10</td>
                                <td>
                                  <button class="btn btn-primary">Add</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-long-arrow-alt-right"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script>

    const cmpSearch = document.querySelector('#cmpSearch');

    function searchFunction() {
        let filter, table, tr, td;
        filter = cmpSearch.value.toUpperCase();
        table = document.querySelector('#tableCampaigns');
        tr = table.querySelectorAll('tr');
        for (let i = 0; i < tr.length; i++) {
          td = tr[i].querySelectorAll('td')[0];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = '';
            } else {
              tr[i].style.display = 'none';
            }
          }
        }
    }

    cmpSearch.addEventListener('keyup', searchFunction, false);
  </script>
</body>