@model IEnumerable<Maximiz.Model.Entity.Campaign>

@{
    ViewData["Title"] = "Campaigns";
}

<h1>All Campaigns</h1>

<table class="table table-bordered">
    <tr>
        <th><input id="check_all" name="check_all" type="checkbox" /></th>
        <th>Campaign</th>
        <th>CPC</th>
        <th>CTR</th>
        <th>PVPS</th>
        <th>Clicks</th>
        <th>Budget</th>
        <th>Spent</th>
        <th>Revenue</th>
        <th>ROI</th>
        <th>Taboola</th>
        <th>Adsense</th>
        <th>Profit</th>
        <th>Actions</th>
    </tr>
    @foreach (Maximiz.Model.Entity.Campaign campaign in Model) {
        <tr>
            <td><input type="checkbox" name="check_campaign" id="@campaign.Id" /></td>
            <td>@Html.ActionLink(@campaign.Name, "Details", "Campaign", new { id = campaign.Id })</td>
            <td>@campaign.InitialCpc</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>
                @campaign.Budget
            </td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>?</td>
            <td>...</td>
        </tr>
    }
</table>