@*
    Table rows for our all-adgroup table in the campaign details view.
*@

@model AdGroupTableAllViewModel
<!-- Table entry for each item in our collection. -->
@foreach (var adGroup in Model.AdGroupsAll)
{
    <tr class="row-unlink-adgroup">
        <td>@adGroup.Name</td>
        <td>@adGroup.CreateDate</td>
        <td>@adGroup.AdItemCount</td>
        <td>@adGroup.UpdateDate</td>
        <td>
            <!-- Form for posting link or unlink requests -->
            @if (Model.AdGroupIdsLinked.Contains(adGroup.Id))
            {
                <!-- If the adgroup is already linked -->
                <form asp-controller="CampaignDetails" asp-action="@nameof(CampaignDetailsController.UnlinkAdGroup)" method="post" class="formUnlinkAdGroup">
                    <!-- Post form submission through jquery ajax post request -->
                    <button type="submit" class="button-adgroup btn btn-primary">Unlink</button>

                    <!-- Hidden input fields to insert data into form model -->
                    <input type="hidden" name="@nameof(LinkingOperationViewModel.AdGroupId)" value="@adGroup.Id" />
                    <input type="hidden" name="@nameof(LinkingOperationViewModel.CampaignId)" value="@Model.CampaignId" />
                </form>
            }
            else
            {
                <!-- If the adgroup is not already linked -->
                <form asp-controller="CampaignDetails" asp-action="@nameof(CampaignDetailsController.LinkAdGroup)" method="post" class="formLinkAdGroup">
                    <!-- Post form submission through jquery ajax post request -->
                    <button type="submit" class="button-adgroup btn btn-primary">Link</button>

                    <!-- Hidden input fields to insert data into form model -->
                    <input type="hidden" name="@nameof(LinkingOperationViewModel.AdGroupId)" value="@adGroup.Id" />
                    <input type="hidden" name="@nameof(LinkingOperationViewModel.CampaignId)" value="@Model.CampaignId" />
                </form>
            }
        </td>
    </tr>
}