@*
    Partial view containing the marketing details for a single campaign.
*@

@inject IEnumViewModelService enumService
@model CampaignDetailsViewModel
<!-- Marketing tab -->
<form id="formTabMarketing">
    <fieldset>

        <!-- Autopilot -->
        <form-group class="form-row">
            <h5>This has not yet been implemented</h5>
            <label>Autopilot </label>
            <input id="checkboxAutopilot" type="checkbox" name="@nameof(FormCampaignDetailsViewModel.Autopilot)"
                   value="true" checked="checked" >
            <div class="errorHolder"></div>
        </form-group>

        <!-- Cpc -->
        <form-group class="form-row">
            <label>CPC </label>
            <input id="inputCpc" name="@nameof(FormCampaignDetailsViewModel.Cpc)" type="number"
                   value="@Model.Campaign.InitialCpc" />
            <div class="errorHolder"></div>
        </form-group>

        <!-- Bid strategy -->
        <form-group class="form-row">
            <label>Bid strategy</label>
            @foreach (var bidStrategy in enumService.GetBidStrategyOptions())
            {
                <input class="radioBidStrategy" type="radio" name="@nameof(FormCampaignDetailsViewModel.BidStrategy)"
                       value="@bidStrategy" checked="@(Model.Campaign.BidStrategy == bidStrategy)" />
                <label>@EnumTranslator.TranslateBidStrategy(bidStrategy)</label>
            }
            <div class="errorHolder"></div>
        </form-group>

        <!-- Delivery -->
        <form-group class="form-row">
            <label>Bid strategy</label>
            @foreach (var delivery in enumService.GetDeliveryOptions())
            {
                <input class="radioDelivery" type="radio" name="@nameof(FormCampaignDetailsViewModel.Delivery)"
                       value="@delivery" checked="@(Model.Campaign.Delivery == delivery)" />
                <label>@EnumTranslator.TranslateDelivery(delivery)</label>
            }
            <div class="errorHolder"></div>
        </form-group>

        <!-- Budget monthly -->
        <div>
            <!-- Amount -->
            <form-group class="form-row">
                <label>Campaign budget </label>
                <input id="inputBudget" name="@nameof(FormCampaignDetailsViewModel.Budget)" type="number"
                       value="@Model.Campaign.Budget" />

                <!-- Type -->
                <select id="selectBudgetModel" name="@nameof(FormCampaignDetailsViewModel.BudgetModel)" >
                    @foreach (var budgetModel in enumService.GetBudgetModelOptions())
                    {
                        <option selected="@(Model.Campaign.BudgetModel == budgetModel)"
                                value="@budgetModel">
                            @EnumTranslator.TranslateBudgetModel(budgetModel)
                        </option>
                    }
                </select>

                <div class="errorHolder"></div>
            </form-group>
        </div>

        <!-- Budget daily -->
        <div>
            <!-- Amount -->
            <form-group class="form-row">
                <label>Daily budget </label>
                <input id="inputBudgetDaily" name="@nameof(FormCampaignDetailsViewModel.BudgetDaily)"
                       type="number" value="@Model.Campaign.BudgetDaily" />

                <!-- Infinite or not -->
                <input id="inputBudgetDailyInfinite" type="checkbox" name="@nameof(FormCampaignDetailsViewModel.BudgetDailyInfinite)"
                       value="true" checked="@(Model.Campaign.BudgetDaily == 0)"  />
                <label>Ignore</label>

                <div class="errorHolder"></div>
            </form-group>
        </div>

        <!-- Submit button -->
        <button class="buttonSaveCampaignDetails btn text-white btn-main btn-blue mt-5 float-right">Save</button>

    </fieldset>
</form>