@*
    Partial view containing the marketing details for a single campaign.
*@

@inject IEnumViewModelService enumservice
@model CampaignDetailsViewModel
<!-- Marketing tab -->
<fieldset>
    <form id="formMarketing" method="post" asp-controller="CampaignDetails" asp-action="PostFormMarketing">
        <!-- Hidden input to post form data -->
        <input type="hidden" name="@nameof(FormCampaignMarketingViewModel.CampaignId)" value="@Model.Campaign.Id" />

        <!-- Modify cpc -->
        <div class="info form-group">
            <div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="@nameof(FormCampaignMarketingViewModel.Cpc)">CPC</label>
                        <!-- TODO Fix input type to money -->
                        <input name="@nameof(FormCampaignMarketingViewModel.Cpc)" type="text"
                               class="input-modifications-marketing form-control" value="@Model.Campaign.InitialCpc">
                    </div>
                </div>
            </div>
        </div>

        <!-- Modify bid strategy -->
        <label for="bidStrategy">Bid strategy</label>
        <div class="ml-0">
            @{ foreach (var item in enumservice.GetBidStrategyOptions())
                {
                    <div class="form-check form-check-inline">
                        <label class="form-check-label font-weight-normal" for="@nameof(FormCampaignMarketingViewModel.BidStrategy)">@item.ToString()</label>
                        <input name="@nameof(FormCampaignMarketingViewModel.BidStrategy)" type="radio"
                               class="input-modifications-marketing form-check-input" value="@item" checked="@(Model.Campaign.BidStrategy == item) " />
                    </div>
                }
            }
        </div>

        <!-- Modify delivery -->
        <label for="delivery">Content delivery</label>
        <div class="ml-0">
            @{ foreach (var item in enumservice.GetDeliveryOptions())
                {
                    <div class="form-check form-check-inline">
                        <input name="@nameof(FormCampaignMarketingViewModel.Delivery)" type="radio"
                               class="input-modifications-marketing form-check-input" value="@item" checked="@(Model.Campaign.Delivery == item) " />
                        <label class="form-check-label font-weight-normal" for="delivery">@item.ToString()</label>
                    </div>
                }
            }
        </div>

        <!-- Submit the form -->
        <div class="button-save">
            <button type="submit" id="buttonSubmitMarketing" class="input-modifications-marketing btn text-white btn-main btn-blue mt-5 float-right">Save</button>
        </div>
    </form>
</fieldset>


<script type="text/javascript">

    $(document).ready(function () {
        setupCampaignDetailsForm('#formMarketing', '.input-modifications-marketing', '#buttonSubmitMarketing');
    });

</script>