@*
    Partial view containing the account details for a single campaign.
*@

@model CampaignDetailsViewModel
<!-- Account tab -->
<fieldset>
    <form id="formAccount" method="post" asp-controller="CampaignDetails" asp-action="PostFormAccount">
        <!-- Hidden input to post form data -->
        <input type="hidden" name="@nameof(FormCampaignAccountViewModel.CampaignId)" value="@Model.Campaign.Id" />

        <div class="campaign form-group">
            <div class="form-subgroup mb-3">
                <h1 class="mb-4">Account</h1>
                <label for="campaign">Publisher</label>
                <div class="ml-0">
                    <div>@Model.Campaign.Publisher</div>
                </div>
                <div class="form-group my-4">
                    <label for="campaignAccount">Account</label>
                    <div>@Model.Account.Name</div>
                </div>
            </div>
        </div>

        <div class="info form-group">
            <div>
                <div class="form-subgroup">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCampaignName">Campaign Name</label>
                            <input name="@nameof(FormCampaignAccountViewModel.Name)" type="text"
                                   class="input-modifications-account form-control" id="inputCampaignName" value="@Model.Campaign.Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputBranding">Branding</label>
                            <input name="@nameof(FormCampaignAccountViewModel.BrandingText)" type="text"
                                   class="input-modifications-account form-control" id="inputBranding" value="@Model.Campaign.BrandingText">
                            <small id="brandingHelp" class="form-text text-muted"><i>Apears below headline</i></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputTrackingCode">Tracking Code</label>
                            <input disabled type="text" class="form-control" value="@Model.Campaign.Utm">
                            <input name="@nameof(FormCampaignAccountViewModel.UtmCustom)" type="text"
                                   class="input-modifications-account form-control" id="inputTrackingCode" placeholder="Put your custom utm tags here">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputURL">URL</label>
                            <input name="@nameof(FormCampaignAccountViewModel.Url)" type="text"
                                   class="input-modifications-account form-control" id="inputURL" value="@Model.Campaign.TargetUrl">
                        </div>
                    </div>

                    <button type="submit" id="buttonSubmitAccount" class="input-modifications-account btn text-white btn-main btn-blue mt-5 float-right">Save</button>
                </div>
            </div>
        </div>
    </form>

</fieldset>

<script type="text/javascript">

    $(document).ready(function () {
        setupCampaignDetailsForm('#formAccount', '.input-modifications-account', '#buttonSubmitAccount');
    });

</script>