@*
    Partial view containing the targeting details for a single campaign.
*@

@inject ITargetingViewModelService targetingService
@model CampaignDetailsViewModel
<!-- Targeting tab -->
<form id="formTabTargeting" action="" class="mt-3">
    <fieldset id="formAccount">
        <!-- Countries, devices, OS -->
        <div class="targeting form-group">
            <div>
                <div class="form-subgroup">

                    <!-- Title -->
                    <div class="section">
                        <h1 class="mb-4">Targeting</h1>
                    </div>

                    <!-- Countries -->
                    <div class="form-row">
                        <div class="form-group col-md-8 containsErrorHolder">
                            <div class="mt-3">
                                <label for="Devices">Countries</label>
                                <div class="ml-0 space-between">
                                    @foreach (var location in targetingService.GetLocationOptions())
                                    {
                                        var id = Guid.NewGuid(); // Used to link label to input
                                        <div class="form-check form-check-inline">
                                            <input class="checkboxLocation form-check-input" type="checkbox" id="@id"
                                                   name="@nameof(FormCampaignDetailsViewModel.Locations)" value="@location"
                                                   checked="@(Model.Campaign.LocationInclude.Contains(location))">
                                            <label class="form-check-label font-weight-normal" for="@id">@LocationTranslator.TranslateLocation(location)</label>
                                        </div>
                                    }
                                </div>
                                <div class="errorHolder"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Devices -->
                    <div class="form-row">
                        <div class="form-group col-md-8 containsErrorHolder">
                            <div class="mt-3">
                                <label for="Devices">Devices </label>
                                <div class="ml-0 space-between">
                                    @foreach (var device in targetingService.GetDeviceOptions())
                                    {
                                        var id = Guid.NewGuid(); // Used to link label to input
                                        <div class="form-check form-check-inline">
                                            <input class="checkboxDevice form-check-input" type="checkbox" id="@id"
                                                   name="@nameof(FormCampaignDetailsViewModel.Devices)" value="@device"
                                                   checked="@(Model.Campaign.Devices.Contains(device))">
                                            <label class="form-check-label font-weight-normal" for="@id">@LocationTranslator.TranslateDevice(device)</label>
                                        </div>
                                    }
                                </div>
                                <div class="errorHolder"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Operating systems -->
                    <div class="form-row">
                        <div class="form-group col-md-8 containsErrorHolder">
                            <div class="mt-3">
                                <label for="Devices">Operating systems </label>
                                <div class="ml-0 space-between">
                                    @foreach (var os in targetingService.GetOperatingSystemOptions())
                                    {
                                        var id = Guid.NewGuid(); // Used to link label to input
                                        <div class="form-check form-check-inline">
                                            <input class="checkboxOperatingSystem form-check-input" type="checkbox" id="@id"
                                                   name="@nameof(FormCampaignDetailsViewModel.OperatingSystems)" value="@os"
                                                   checked="@(Model.Campaign.OperatingSystems.Contains(os))">
                                            <label class="form-check-label font-weight-normal" for="@id">@LocationTranslator.TranslateOperatingSystem(os)</label>
                                        </div>
                                    }
                                </div>
                                <div class="errorHolder"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Save button -->
        <div class="button-save">
            <button class="buttonSaveCampaignDetails btn text-white btn-main btn-blue mt-5 float-right">Save</button>
        </div>

    </fieldset>
</form>










@*<form id="formTabTargeting">
        <fieldset>

            <!-- Countries -->
            <form-group>
                <label>Targeted countries: </label>
                @foreach (var location in targetingService.GetLocationOptions())
                {
                    <div class="form-row">
                        <input class="checkboxLocation customCheckbox"
                               name="@nameof(FormCampaignDetailsViewModel.Locations)"
                               value="@location" type="checkbox" checked="@(Model.Campaign.LocationInclude.Contains(location))" />
                        <label>@LocationTranslator.TranslateLocation(location)</label>
                    </div>
                }
                <div class="errorHolder"></div>
            </form-group>

            <!-- Devices -->
            <form-group>
                <label>Targeted devices: </label>
                @foreach (var device in targetingService.GetDeviceOptions())
                {
                    <div class="form-row">
                        <input class="checkboxDevice" name="@nameof(FormCampaignDetailsViewModel.Devices)"
                               value="@device" type="checkbox" checked="@(Model.Campaign.Devices.Contains(device))" />
                        <label>@LocationTranslator.TranslateDevice(device)</label>
                    </div>
                }
                <div class="errorHolder"></div>
            </form-group>

            <!-- Operating systems -->
            <form-group>
                <label>Targeted operating systems: </label>
                @foreach (var os in targetingService.GetOperatingSystemOptions())
                {
                    <div class="form-row">
                        <input class="checkboxOperatingSystem" name="@nameof(FormCampaignDetailsViewModel.OperatingSystems)"
                               value="@os" type="checkbox" checked="@(Model.Campaign.OperatingSystems.Contains(os))" />
                        <label>@LocationTranslator.TranslateOperatingSystem(os)</label>
                    </div>
                }
                <div class="errorHolder"></div>
            </form-group>

            <!-- Publisher blocking -->
            <!-- TODO Implement -->
            <div class="info form-group">
                    <div>
                        <div class="form-subgroup">
                            <h1 class="mb-4">Publishers</h1>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputBlockPublishers">Block Publishers</label>
                                    <input type="text" disabled="disabled" class="form-control" id="inputBlockPublishers" placeholder="None">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputTargetingList">Targeting Lists</label>
                                    <input type="text" disabled="disabled" class="form-control" id="inputTargetingList" placeholder="Choose">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- Submit button -->
            <button type="submit" class="buttonSaveCampaignDetails btn text-white btn-main btn-blue mt-5 float-right">Save</button>

        </fieldset>
    </form>*@
